<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>com.act.controller.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudent</servlet-name>
        <servlet-class>com.act.controller.EditStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTeach</servlet-name>
        <servlet-class>com.act.controller.ManageTeach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectClass</servlet-name>
        <servlet-class>com.act.controller.AddSubjectClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClass</servlet-name>
        <servlet-class>com.act.controller.EditClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResultByStudent</servlet-name>
        <servlet-class>com.act.controller.ViewResultByStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResultByLecturer</servlet-name>
        <servlet-class>com.act.controller.ViewResultByLecturer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResultByTeacher</servlet-name>
        <servlet-class>com.act.controller.ViewResultByTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResultByManager</servlet-name>
        <servlet-class>com.act.controller.ViewResultByManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAssignToMark</servlet-name>
        <servlet-class>com.act.controller.ManagerAssignToMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignToMark</servlet-name>
        <servlet-class>com.act.controller.AsignToMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditScore</servlet-name>
        <servlet-class>com.act.controller.VaoDiem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>com.act.controller.Redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.act.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAsignToMark</servlet-name>
        <servlet-class>com.act.controller.UpdateAsignToMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaoDiem</servlet-name>
        <servlet-class>com.act.controller.VaoDiem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectVaoDiem</servlet-name>
        <servlet-class>com.act.controller.RedirectVaoDiem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageClass</servlet-name>
        <servlet-class>com.act.controller.ManageClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassSV</servlet-name>
        <servlet-class>com.act.controller.AddClassSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClassSV</servlet-name>
        <servlet-class>com.act.controller.EditClassSV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudent</servlet-name>
        <url-pattern>/EditStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTeach</servlet-name>
        <url-pattern>/ManageTeach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectClass</servlet-name>
        <url-pattern>/AddSubjectClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClass</servlet-name>
        <url-pattern>/EditClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResultByStudent</servlet-name>
        <url-pattern>/ViewResultByStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResultByLecturer</servlet-name>
        <url-pattern>/ViewResultByLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResultByTeacher</servlet-name>
        <url-pattern>/ViewResultByTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResultByManager</servlet-name>
        <url-pattern>/ViewResultByManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAssignToMark</servlet-name>
        <url-pattern>/ManagerAssignToMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignToMark</servlet-name>
        <url-pattern>/AsignToMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditScore</servlet-name>
        <url-pattern>/EditScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/Redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAsignToMark</servlet-name>
        <url-pattern>/UpdateAsignToMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaoDiem</servlet-name>
        <url-pattern>/VaoDiem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectVaoDiem</servlet-name>
        <url-pattern>/RedirectVaoDiem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageClass</servlet-name>
        <url-pattern>/ManageClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassSV</servlet-name>
        <url-pattern>/AddClassSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClassSV</servlet-name>
        <url-pattern>/EditClassSV</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
